<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets async="true">

    <target name="trace"  xsi:type="File" fileName="${basedir}/log/${date:format=yyyy-MM-dd}/trace.txt" layout="---- ${date} |${level}| ${message}" keepFileOpen="true" autoFlush="true" concurrentWrites="false" cleanupFileName="false" />
    <target name="debug"  xsi:type="File" fileName="${basedir}/log/${date:format=yyyy-MM-dd}/debug.txt" layout="---- ${date} |${level}| ${message}" keepFileOpen="true" autoFlush="true" concurrentWrites="false" cleanupFileName="false" />
    <target name="info"  xsi:type="File" fileName="${basedir}/log/${date:format=yyyy-MM-dd}/info.txt" layout="---- ${date} |${level}| ${message}" keepFileOpen="true" autoFlush="true" concurrentWrites="false" cleanupFileName="false" />
    <target name="errors"  xsi:type="File" fileName="${basedir}/log/${date:format=yyyy-MM-dd}/errors.txt" layout="---- ${date} |${level}| ${message}" keepFileOpen="true" autoFlush="true" concurrentWrites="false" cleanupFileName="false" />
    <target name="fatal"  xsi:type="File" fileName="${basedir}/log/${date:format=yyyy-MM-dd}/fatal.txt" layout="---- ${date} |${level}| ${message}" keepFileOpen="true" autoFlush="true" concurrentWrites="false" cleanupFileName="false" />
    
  </targets>

  <rules>

    <logger name="DssLogger" minlevel="Trace" writeTo="trace" />
    <logger name="DssLogger" minlevel="Debug" writeTo="debug" />
    <logger name="DssLogger" minlevel="Info" writeTo="info" />
    <logger name="DssLogger" levels="Error" writeTo="errors" />
    <logger name="DssLogger" levels="Fatal" writeTo="fatal" />

  </rules>
  
</nlog>
